{% extends "base.html" %}
{% block title %}vendedor{% endblock  %}

{% block container %}
    <div class="row">
        <!-- columna formulario -->
        <div class="col-md-4">
            <form action="" method="POST" id="frm-vendedor">
                {% csrf_token %}
                <!-- identidad -->
                <div>
                    <label for="txt-dni">N de Identidad</label>
                    <input type="text" class="form-control" id="txt-dni" name="txt-dni" placeholder="0000-0000-00000">
                </div>
                <!-- nombre y apellido -->
                <div class="row">
                    <!-- nombre -->
                    <div class="col-md-6">
                        <label for="txt-nombre">Nombre</label>
                        <input type="text" class="form-control" id="txt-nombre" name="txt-nombre" placeholder="Nombre">
                    </div>
                    <!-- apellido -->
                    <div class="col-md-6">
                        <label for="txt-apellido">Apellido</label>
                        <input type="text" class="form-control" id="txt-apellido" name="txt-apellido" placeholder="Apellido">
                    </div>
                </div>
                <!-- direccion -->
                <div>
                    <label for="txt-direccion">Direccion</label>
                    <input type="text" class="form-control" id="txt-direccion" name="txt-direccion" placeholder="1234 Main St">
                </div>
                <!-- fecha de nacimiento -->
                <div>
                    <label for="txt-correo">Correo electronico</label>
                    <input type="email" class="form-control" id="txt-correo" name="txt-correo" placeholder="example@email.com">
                </div>
                <!-- telefono y correo -->
                <div class="row">
                    <!-- telefono -->
                    <div class="col-md-6">
                        <label for="txt-fecha">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="txt-fecha" name="txt-fecha">
                    </div>
                    <!-- telefono -->
                    <div class="col-md-4">
                        <label for="txt-telefono">telefono</label>
                        <input type="text" class="form-control" id="txt-telefono" name="txt-telefono" placeholder="1234-5678">
                    </div>
                    <!-- extra -->
                    <div class="col-md-2">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
                <!-- boton registro -->
                <button type="submit" class="mt-5 btn btn-primary">Registro</button>
            </form>
        </div>
        <!-- columna tabla -->
        <div class="col-md-8">
            <table class=" table">
                <thead class="thead-dark">
                    <tr>
                        <th>dni</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>telefono</th>
                        <th>correo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in vendedor %}
                        <tr>
                            <td>{{v.dni}}</td>
                            <td>{{v.nombre}}</td>
                            <td>{{v.apellido}}</td>
                            <td>{{v.telefono}}</td>
                            <td>{{v.correo}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock  %}
{% block js %}
    <script>
        $(function () {
            $('#frm-vendedor').on('submit',function(e){
                e.preventDefault();

                $.post('', $(this).serialize(), function (response){
                    notify('success', response.msj);
                }, 'json');
            });
        });
    </script>
{% endblock  %}