{% extends "base.html" %}
{% block title %}Pago{% endblock  %}

{% block container %}
<div class="row">
    <!-- pago de cuota -->
    <div class="col-md-3">
        <h3>Pago de Cuota</h3>
        <form action="" method="post" id="frm-pago">
            {% csrf_token %}
            <!-- seleccion tipo de pago -->
            <div>
                <label for="cbo-pago">Tipo de Pago</label>
                <select name="cbo-pago" id="cbo-pago" class=form-select>
                    <option value="1">pago a cuota</option>
                    <option value="2"> pago a capital</option>
                </select>
            </div>
            <!-- seleccion de cuenta a pagar -->
            <div>
                <label for="cbo-cuenta">Cuenta</label>
                <select name="cbo-cuenta" id="cbo-cuenta" class="form-select">
                    {% for c in Cuenta %}
                        <option value="{{c.id}}">cuenta #{{ c.id }} - {{ c.cliente }} - Lote: {{c.lote}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="txt-cuota">cuota</label>
                <input name="txt-cuota" type="text" class="form-control" id="txt-cuota" placeholder="$$$$" required autofocus>
            </div>
            <!-- boton de pagar -->
            <div>
                <button type="submit" class="btn btn-primary">Pago</button>
            </div>
        </form>
    </div>
    <!-- pago a capital -->
    <div class="col-md-9">
        <h3>tabla de contratos</h3>
            <!-- tabla de vendedor -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>cliente</th>
                            <th>vendedor</th>
                            <th>lote</th>
                            <th>cuotas</th>
                            <th>correo</th>
                            <th>acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in contrato %}
                            <tr>
                                <td>{{c.cliente}}</td>
                                <td>{{c.vendedor}}</td>
                                <td>{{c.lote}}</td>
                                <td>{{c.cuotas}}</td>
                                <td>{{c.precio_cuota }}</td>
                            </tr>
                        {% empty %}
                            <div class="alert alert-danger">No se encuentran contratos</div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>
{% endblock  %}

{% block js %}
    <script>
        $(function () {
            $('#frm-pago').on('submit',function(e){
                $.post('', $(this).serialize(), function (response){
                    notify('success', response.msj);
                }, 'json');
            });
        });
    </script>
{% endblock  %}